<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Special+Elite' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <%= link_to '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>'.html_safe, books_path, class: "btn btn-default pull-left home-btn" %>
      <%= link_to 'Add Book', new_book_path, class: "btn btn-default pull-right add-book-btn" %>
    </nav>
    <div class="main-content">
      <%= yield %>
    </div>
    <footer>
      <div class="footer-div">
        &copy;&nbsp;A Book Review 2017
      </div>
    </footer>
  </body>
</html>
