<div class="container">
  <div class="form-area">
    <% if @blog.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @blog.errors.full_messages.each do |msg| %>
              <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= msg %></strong>
              </div>
            <% end %>
          </ul>
        </div>
      <% end %>
    <%= form_for @blog, :validate => true do |f| %>
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :category %><br>
        <%= f.text_field :category %>
      </div>
      <div class="form-group">
        <%= f.label :author %><br>
        <%= f.text_field :author %>
      </div>
      <div class="form-group">
        <%= f.label :post %><br>
        <%= f.text_area :post , :class => "posting-area"%>
      </div>
        <%= f.submit 'Submit',class: "btn btn-default" %>
    <% end %>
  </div>
</div>
