<div class="jumbotron">
  <div class="profilepic">
    <%= image_tag("profilepic.jpg", alt: "Logo Image") %>
  </div>
  <h2>A Student's Blog</h2>
  <q>Aspiring programmer..who knows if i will ever become one.</q>
</div>

<section class="main-content">
  <% @blogs.each do |blog_post| %>
    <article>
      <h2><%= link_to blog_post.title, blog_path(blog_post) %></h2>
      <p class="post-publish-date">Posted on <%= blog_post.created_at.strftime("%d %b %y")%></p>
      <hr>
      <main><%= markdown(blog_post.post) %></main><br>
      <% kilo = blog_post.comments.count.to_s + ' comments' %>
      <%= link_to kilo, blog_path(blog_post, anchor: 'commentables')  %>
    </article>
  <% end %>
  <%= paginate @blogs %>
</section>
