<div class="main-content">

    <h2><%= @blog.title %></h2>
    <p class="post-publish-date">Posted on <%= @blog.created_at.strftime("%d %b %y")%></p>
    <p>
      <strong>Category:</strong>
      <%= @blog.category %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= @blog.author %>
    </p>

    <article>
      <%= simple_format(@blog.post) %>
    </article>

    <div id="commentables"></div>
    <br>
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <%= link_to 'Edit', edit_blog_path(@blog) %>
    <span>&nbsp|&nbsp&nbsp</span>
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <%= link_to 'Destroy', blog_path(@blog), method: :delete, data: {confirm: 'Are you sure?'} %>
    <span>&nbsp|&nbsp&nbsp</span>
    <%= link_to 'Add Comment', new_blog_comment_path(@blog) %>
    <br>

    <h3><%= @blog.comments.count%> Comments</h3>

    <hr>

      <% @blog.comments.each do |comment| %>
        <div class="comment-box">
          <h4><%= comment.user %> </h4>
          <p><%= comment.remark %></p>
          <p>
            <%= link_to 'Edit', edit_blog_comment_path(@blog, comment) %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, blog_comment_path(@blog, comment), :class => "close pull-right", method: :delete %>
          </p>
        </div>
    <% end %>

</div>
