<%= form_for ([@blog, @comment]) , :html => {:class => "comment-form"} do |f| %>
<div class="form-group">
  <%= f.label :user %><br>
  <%= f.text_field :user %>
</div>
<div class="form-group">
  <%= f.label :email %><br>
  <%= f.text_field :email %>

</div>
<div class="form-group">
  <%= f.label :remark %><br>
  <%= f.text_area :remark %>
</div>

  <%= f.submit %>

<% end %>
