<div class="jumbotron">
  <div class="img-overlay">
    <h1>A Book Review</h1>
    <div class="search-field">
      <%= form_for :search, url: search_books_path, method: :post, class: "input-field" do |f| %>
      <%= text_field_tag :search, nil, placeholder: " Search by title, author, genre..." %>
      <%= submit_tag 'Find Book', class: "btn btn-default"%>
      <% end %>
    </div>
    <p>Find the books you like and read their reviews..</p>
  </div>
</div>


<div class="container all-books">
  <% @books.each do |book| %>
    <h3><%= link_to book.title, book_path(book) %></h3>
    <p class="date-publish">
      Added on <%= book.created_at.strftime("%d %b %y") %>
    </p>
    <p>Author: <%= book.author %></p>
    <p>Genre: <%= book.genre %></p>
    <article><%= truncate(book.summary.html_safe, :length => 300){link_to 'Read more', book_path(book)} %></article>
    <hr>
  <% end %>
<%= paginate @books %>
</div>
