<%= render 'jumbo'%>

<div class="container all-books">
  <% if @books.present? %>
    <% @books.each do |book| %>
      <div class="each-book">
        <h3><%= link_to highlight(book.title, @search_value), book_path(book) %></h3>
        <p>Author: <%= highlight(book.author, @search_value) %></p>
        <p>Genre: <%= highlight(book.genre, @search_value) %></p>
        <article>
          <%= highlight(excerpt(book.summary.html_safe, @search_value ,radius: 50), @search_value) %>
        </article>
        <p class="date-publish">
          <br>
          Added on <%= book.created_at.strftime("%d %b %y") %>
        </p>
      </div>
      <%#= link_to 'Details', book_path(book)%>
    <% end %>
    <%= paginate @books %>
  <% else %>
    <p>There are no books containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>
