<div class="container all-books">
  <h2><%= @book.title %></h2>
  <p class="date-publish">
    Added on <%= @book.created_at.strftime("%d %b %y") %>
  </p>
  <%= image_tag @book.image.url(:medium) %>
  <p>Author: <%= @book.author %></p>
  <p>Genre: <%= @book.genre %></p>
  <p>Average Rating: <%= @avg_rating %>/5</p>
  <article><%= @book.summary %></article>

  <br>
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <%= link_to 'Edit', edit_book_path(@book) %>
  <span>&nbsp|&nbsp&nbsp</span>
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Are you sure?'} %>
  <span>&nbsp|&nbsp&nbsp</span>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <%= link_to 'Add Review', new_book_review_path(@book) %>
  <hr>
  <% kilo = @book.review.count%>
  <h3><%= kilo %> Reviews</h3>

  <div>
    <% @book.review.each do |review| %>
    <div class="each-review">
      <div class="date-publish">
        By <%= review.reviewer %>
        <span> on <%= review.created_at.strftime("%d %b %y") %></span>
      </div>
      <p>Rating: <%= review.rating %>/5</p>
      <p><%= review.post %></p>
      <%= link_to 'Edit Review', edit_book_review_path(@book, review) %>
      <span>&nbsp|&nbsp&nbsp</span>
      <%= link_to 'Delete', book_review_path(@book, review), method: :delete, data: {confirm: 'Are you sure?'}%>
    </div>
    <% end %>
  </div>

</div>
