
<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= @book.genre %></p>
<p><%= @book.summary %></p>

<div>
  <% @book.review.each do |review| %>
    <p><%= review.reviewer %></p>
    <p><%= review.rating %></p>
    <p><%= review.post %></p>
    <p><%= review.created_at %></p>
    <%= link_to 'Edit Review', edit_book_review_path(@book, review) %>
    <%= link_to 'Delete', book_review_path(@book, review), method: :delete, data: {confirm: 'Are you sure?'}%>
  <% end %>
</div>

<%= link_to 'Back', books_path %>
<%= link_to 'Add Review', new_book_review_path(@book) %>
