<!DOCTYPE html>
<html>
  <head>
    <title>Blog Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :defaults, "rails.validations" %>

  </head>

  <body>
    <nav class="navbar navbar-default">
      <%= button_to "Add Post", new_blog_path, :class => "btn btn-default pull-right", :method => :get %>
    </nav>
    <div class="main-body">
      <%= yield %>
    </div>
    <footer>
      &copy; A Student's blog
    </footer>
  </body>
</html>
