<div class="jumbotron">
  <div class="profilepic">
    <%= image_tag("profilepic.jpg", alt: "Logo Image") %>
  </div>
  <h2>A Student's Blog</h2>
  <q>Aspiring programmer..who knows if i will ever become one.</q>
</div>

<section class="main-content">
  <% @blogs.each do |blog_post| %>
    <article>
      <h1><%= blog_post.title %></h1>
      <p class="post-publish-date">Posted on <%= blog_post.created_at.strftime("%d %b %y")%></p>
      <hr>
      <main><%= simple_format(blog_post.post) %></main>
      <br>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <%= link_to 'Edit', edit_blog_path(blog_post) %>
      <span>&nbsp|&nbsp&nbsp</span>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <%= link_to 'Destroy', blog_path(blog_post),
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
    </article>
    <br>
  <% end %>
</section>
