<div>
  <%= form_for [@book, @review] do |f| %>
    <p>
      <%= f.label :reviewer %>
      <%= f.text_field :reviewer %>
    </p>
    <p>
      <%= f.label :post %>
      <%= f.text_area :post %>
    </p>
    <p>
      <%= f.label :rating %>
      <%= f.number_field :rating %>
    </p>
    <%= f.submit 'Post Review'%>
  <% end %>
</div>
<%= link_to "Back to post", book_path(@book) %>
